*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #FF7979;

}

.main_content_Container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(/images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.left_Container{
    width: 100%;
    height: 100%;
    display: flex;
}

.text_Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_1{
    width: 55.7%;
    height: 100%;
    font-size: 2.8rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2%;
    color: white;
}

.text_2{
    width: 55.7%;
    height: 100%;
    font-size: 0.90rem;
    font-weight: 500;
    color: white;
}

.right_Container{
    width: 100%;
    display: flex;
    border-style: solid;
}

.sub_button{
    width: 100%;
    height: 10%;
    background-color: #5E54A4;
    border-radius: 10px;
}